<div class="min-h-screen flex flex-col">
  <main
    class="flex-grow bg-gradient-to-br from-blue-500 to-purple-600 text-white p-8"
  >
    <div class="max-w-6xl mx-auto">
      <div class="text-center mb-16">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">
          Welcome to the Employee List Application
        </h1>
        <p class="text-xl mb-8">
          Streamline your workforce management with our powerful and intuitive
          tools.
        </p>
        <button
          [routerLink]="['/employee']"
          mat-raised-button
          color="primary"
          class="bg-white text-blue-600 font-bold py-3 px-6 rounded-full text-lg shadow-lg hover:bg-blue-100 transition duration-300 mt-20"
        >
          View Employee List
        </button>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <div
          *ngFor="let feature of features"
          class="bg-white bg-opacity-10 p-6 rounded-lg backdrop-blur-lg mt-20"
        >
          <mat-icon class="w-24 h-24 mb-4">{{ feature.icon }}</mat-icon>
          <h3 class="text-xl font-semibold mb-2">{{ feature.title }}</h3>
          <p class="text-sm opacity-80">{{ feature.description }}</p>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-gray-800 text-white py-6">
    <div class="max-w-6xl mx-auto px-4 text-center">
      <p>&copy; 2024 Employee List App. All rights reserved.</p>
      <div class="mt-4">
        <a href="#" class="mx-2 hover:underline">Privacy Policy</a>
        <a href="#" class="mx-2 hover:underline">Terms of Service</a>
      </div>
    </div>
  </footer>
</div>
